html, body {
    height: 100%;
}

.title, .title-kanji, .slogan {
    text-align: center;
    font-size: 40pt;
}

.title-kanji {
    line-height: 1;
    font-size: 100pt;
    font-weight: 400;
}

.slogan {
    font-size: 10pt;
}

@media (min-width: 768px) {

    .title, .title-kanji, .slogan {
        font-size: 80pt;
    }

    .title-kanji {
        font-size: 200pt;
    }

    .slogan {
        font-size: 20pt;
    }

}
